audioread
dnspython
elevenlabs
Flask
Flask-Cors
Flask-Mail
flask-ngrok
Flask-Session
Flask-SocketIO
gevent
gevent-websocket
greenlet
gTTS
gunicorn
numpy
openpyxl
pandas
phonenumbers
pillow
PyAudio
pycountry
pydantic
pydantic_core
PyJWT
pymongo
python-dotenv
pyttsx3
pytz
pywin32
requests
python-jose
eventlet
pydub
PyYAML
annotated-types
asgiref
cachetools
certifi
charset-normalizer
colorama
idna
proto-plus
protobuf
pyasn1
pyasn1-modules
ipython
aiohttp