dnspython
Flask
Flask-Cors
Flask-Mail
flask-ngrok
Flask-Session
Flask-SocketIO
gunicorn
numpy
openpyxl
pandas
phonenumbers
pycountry
PyJWT
pymongo
python-jose
requests
eventlet
gevent-websocket
python-dotenv
pillow
audioread
pydub
Flask
Flask-Cors
numpy
openpyxl
pandas
pillow
pymongo
PyYAML
requests
annotated-types
asgiref
cachetools
certifi
charset-normalizer
colorama
idna
proto-plus
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic_core
python-dotenv
ipython
aiohttp
gtts