<!DOCTYPE html>
<html lang="en">

<head>
    <!--Title-->
    <title>Dailogwave - Audio Upload</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/favicon.png">
    <!-- Datatable -->
    <link href="static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="static/assets/vendor/datatables/responsive/responsive.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link class="main-css" href="static/assets/css/style.css" rel="stylesheet">
    <style>
        .overlaydata {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        /* Styles for the popup */
        .popupdata {
            background-color: #fff;
            /* padding: 20px; */
            display: flex;
            min-height: 260px;
            box-sizing: border-box;
            width: 450px;
            flex-direction: column;
            align-items: right;
            gap: 1rem;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            font-size: 18px;
        }

        .overlaytype {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        /* Styles for the popup */
        .popuptype {
            background-color: #fff;
            /* padding: 20px; */
            display: flex;
            min-height: 260px;
            box-sizing: border-box;
            width: 450px;
            flex-direction: column;
            align-items: right;
            gap: 1rem;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            font-size: 18px;
        }

        .overlaynew {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        /* Styles for the popup */
        .popupnew {
            background-color: #fff;
            /* padding: 20px; */
            display: flex;
            min-height: 260px;
            box-sizing: border-box;
            width: 450px;
            flex-direction: column;
            align-items: right;
            gap: 1rem;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            font-size: 18px;
        }

        @media screen and (max-width:1024px) {
            .brand-logo {
                padding: 10px 20px !important;
            }

            .brand-logo img {
                height: 60px !important;
                margin-top: 50px !important;
            }
        }

        @media screen and (max-width:768px) {
            .brand-logo {
                padding: 10px 20px !important;
            }

            .brand-logo img {
                height: 50px !important;
                margin-top: 0px !important;
            }

            .activedata {
                color: #fff !important;
            }
        }



        @media only screen and (max-width: 450px) {
            .popupdata {
                height: 200px;
                width: 350px;
                /* font-size: 14px; */
            }

            .popuptype {
                height: 200px;
                width: 350px;
                /* font-size: 14px; */
            }
        }
    </style>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/dashboard" class="brand-logo" style="padding: 50px 20px;">
                <img class="new" style="height: 200px; margin-top: 30px;" src="static/logo_white.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">

                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell dz-theme-mode" href="javascript:void(0);">
                                    <i id="icon-light" class="fas fa-sun"></i>
                                    <i id="icon-dark" class="fas fa-moon"></i>

                                </a>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" role="button" data-bs-toggle="dropdown">
                                    <div class="header-info">
                                        <span class="text-black">Hello, <strong>{{username}}</strong></span>
                                        <p class="fs-12 mb-0">User</p>
                                    </div>
                                    {% if company_logo %}
                                    <img src="{{company_logo}}" width="20" alt="">
                                    {% else %}
                                    <p
                                        style="padding: 10px 20px; background-color: #2BC155; border-radius: 50%; margin: 10px 0px; color: #fff; font-weight: 600; ">
                                        {{username[0].title()}}</p>
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="/logout" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                    <a href="/user_update_password" class="dropdown-item ai-icon">
                                        <i class="fas fa-edit" style="color: red;"></i>
                                        <span class="ms-2">Update Password </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li><a class="ai-icon" href="/dashboard">
                            <i class="flaticon-381-networking"></i>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li><a class="ai-icon" href="/campaign_details">
                            <i class="fas fa-tasks"></i>
                            <span class="nav-text">Campaign Details</span>
                        </a>
                    </li>
                    <li><a class="ai-icon" href="/live_campaign_details">
                            <i class="fas fa-stream"></i>
                            <span class="nav-text">Live Campaign</span>
                        </a>
                    </li>
                   <li><a class="ai-icon" href="/bulk_calling">
							<i class="fas fa-phone"></i>
							<span class="nav-text">Bulk Auto Calls</span>
						</a>
					</li>
					<!-- <li><a class="ai-icon" href="/smart_calling">
							<i class="fas fa-mobile"></i>
							<span class="nav-text">Smart Voice Calls</span>
						</a>
					</li> -->
                    <li><a class="ai-icon" href="/upload_audio">
                            <i class="fas fa-file-audio" style="background-color: #1EAAE7; color: #fff;"></i>
                            <span class="nav-text activedata" style="color: #1EAAE7;">Upload Audio</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body default-height">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-auto" id="remove_tag" style="margin: 10px">
                                        {% with messages = get_flashed_messages(with_categories=true)
                                        %} {% if messages %} {% for category, message in messages %}
                                        <div class="alert alert-{{category}} alert-dismissable" role="alert"
                                            id="inside_alert">
                                            {{message}}
                                        </div>
                                        {% endfor %} {% endif %} {% endwith %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h4 class="card-title">Audio File</h4>
                                <div class="card-body">
                                    <a class="btn btn-primary" onclick="openPopupdata()" style="cursor: pointer;">Upload
                                        File</a>
                                    <!-- <div class="basic-dropdown">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown">
                                                Upload Audio
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" onclick="openPopupdata()"
                                                    style="cursor: pointer;">Upload File</a>
                                                <a class="dropdown-item" onclick="openPopupnew()"
                                                    style="cursor: pointer;">Smart Voice</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="responsiveTable" class="display responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>Audio ID</th>
                                            <th>Audio File</th>
                                            <th>Duration</th>
                                            <th>Credits</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for var in all_audio_list %}
                                        <tr>
                                            <td><strong>{{var["audio_id"]}}</strong></td>
                                            <td>
                                                <audio controls>
                                                    <source src='{{var["audio_file_path"]}}' type="audio/mpeg">
                                                    Your browser does not support the audio element.
                                                </audio>
                                            </td>
                                            <td>
                                                {{var["duration"]}}
                                            </td>
                                            <td>
                                                {{var["credits"]}}
                                            </td>
                                            <td>
                                                {% if var["status"] == "inactive" %}
                                                <div class="d-flex align-items-center"><i
                                                        class="fa fa-circle text-danger me-1"></i> {{var["status"]}}
                                                </div>
                                                {% else %}
                                                <div class="d-flex align-items-center"><i
                                                        class="fa fa-circle text-success me-1"></i>
                                                    {{var["status"]}}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href='/deletedata?type=audio&audio_path={{var["audio_file_path"]}}'
                                                        class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- **********************************
            Content body end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <div class="overlaydata" id="overlaydata">
        <div class="popupdata">
            <h3 style="padding: 20px 0px 0px 20px; color: #000;">Upload Audio</h3>
            <hr style="margin: 0;">
            <form method="POST" enctype="multipart/form-data" action="/upload_audio_file">
                <div class="form-group">
                    <center><input type="file" style="width: 70%; font-size: 18px;" name="fileupload" id="fileInput"
                            multiple class="form-control" required accept=".wav" />
                        <p style="font-size: 13px; color: red; text-align: left; margin-top: 5px; margin-left: 75px;">
                            Upload file size: 3MB</p>
                    </center>
                </div>
                <hr style="margin-top: 20px; margin-bottom: 20px;">

                <div class="newbutton" style="padding: 0px 20px; text-align: right; margin-bottom: 10px;">
                    <a type="button" class="btn btn-dark border-0" onclick="closePopupdata()">
                        Close
                    </a>
                    <button type="submit" class="btn btn-primary" id="deletedatamain">Upload</button>
                </div>
            </form>
        </div>
    </div>

    <div class="overlaynew" id="overlaynew">
        <div class="popupdata">
            <h3 style="padding: 20px 0px 0px 20px; color: #000;">Smart Voice</h3>
            <hr style="margin: 0;">
            <form method="POST" enctype="multipart/form-data" action="/upload_smart_audio_file">
                <div class="form-group">
                    <center>
                        <div class="mb-4" style="width: 70%;">
                            <input type="text" name="speech_text" class="form-control" placeholder="Enter Text"
                                required>
                        </div>
                        <div class="mb-4" style="width: 70%;">
                            <select name="language" class="form-control" required>
                                <option>English</option>
                                <option>Hindi</option>
                                <option>Gujarati</option>
                            </select>
                        </div>
                    </center>
                </div>
                <hr style="margin-top: 20px; margin-bottom: 20px;">

                <div class="newbutton" style="padding: 0px 20px; text-align: right; margin-bottom: 20px;">
                    <a type="button" class="btn btn-dark border-0" onclick="closePopupnew()">
                        Close
                    </a>
                    <button type="submit" class="btn btn-primary" id="deletedatamain">Generate</button>
                </div>
            </form>
        </div>
    </div>

    <div class="overlaytype" id="overlaytype">
        <div class="popuptype">
            <h3 style="padding: 20px 0px 0px 10px; color: #000;">Record Audio</h3>
            <hr style="margin: 0;">
            <center><button id="startRecording" class="btn btn-primary">Start Recording</button>
                <button id="stopRecording" class="btn btn-danger">Stop Recording</button>
                <audio id="recordedAudio" style="width: 80%; margin-top: 10px;" controls></audio>
            </center>
            <hr style="padding: 0; margin: 0;">
            <div class="newbutton" style="padding: 0px 20px; margin-bottom: 15px; text-align: right;">
                <button type="button" class="btn btn-dark" onclick="closePopuptype()">
                    Close
                </button>
            </div>
        </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="static/assets/vendor/global/global.min.js"></script>
    <script src="static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="static/assets/vendor/datatables/responsive/responsive.js"></script>
    <script src="static/assets/js/plugins-init/datatables.init.js"></script>
    <script src="static/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="static/assets/js/custom.min.js"></script>
    <script src="static/assets/js/demo.js"></script>
    <!-- <script src="static/assets/js/styleSwitcher.js"></script> -->
    <script>
        function openPopupdata() {
            document.getElementById("overlaydata").style.display = "flex";
        }
        function closePopupdata() {
            document.getElementById("overlaydata").style.display = "none";
        }
        function openPopuptype() {
            document.getElementById("overlaytype").style.display = "flex";
        }
        function closePopuptype() {
            document.getElementById("overlaytype").style.display = "none";
        }
        function openPopupnew() {
            document.getElementById("overlaynew").style.display = "flex";
        }
        function closePopupnew() {
            document.getElementById("overlaynew").style.display = "none";
        }
    </script>
    <script>
        let recorder;
        let recordedChunks = [];

        const startRecording = () => {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    recorder = new MediaRecorder(stream);
                    recorder.ondataavailable = (e) => {
                        recordedChunks.push(e.data);
                    };
                    recorder.onstop = () => {
                        const audioBlob = new Blob(recordedChunks, { type: 'audio/wav' });
                        const formData = new FormData();
                        formData.append('audio', audioBlob);
                        const audioUrl = URL.createObjectURL(audioBlob);

                        // Set the src attribute of the audio element
                        document.getElementById('recordedAudio').src = audioUrl;

                        fetch('/save_audio', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => {
                                if (response.ok) {
                                    document.getElementById("overlaytype").style.display = "none";
                                    window.location.reload()
                                } else {
                                    console.error('Failed to save audio.');
                                }
                            })
                            .catch(error => {
                                console.error('Error saving audio:', error);
                            });
                    };
                    recorder.start();
                })
                .catch(err => console.error('Error recording audio: ', err));
        };

        const stopRecording = () => {
            recorder.stop();
            document.getElementById("overlaytype").style.display = "none";
            window.location.reload()
        };

        document.getElementById('startRecording').addEventListener('click', startRecording);
        document.getElementById('stopRecording').addEventListener('click', stopRecording);
    </script>
</body>

<!-- Mirrored from mophy.dexignzone.com/xhtml/table-bootstrap-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Apr 2024 07:17:24 GMT -->

</html>